/* #region RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

svg {
    width: 32px;
    height: 32px;
    fill: var(--theme-color-light);
}

button {
    padding: 0.5rem 1rem;
    border: 5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border-color: blueviolet;
}


/* #endregion RESET */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-button {
    padding: 0.5rem 1rem;
    border: 5px solid black;
    border-radius: 5px;
    color: black;
}

.game-button:hover {
    border-color: blueviolet;
}


/* #region GAME AREA */

.game-area {
    position: relative;
    width: 100vw;
    max-width: 400px;
}

.game-title {
    margin: 0 0 1rem;
}

.game-canvas {
    position: relative;
    height: 230px;
}

.game-riddle {
    padding: 1rem 0;
}

.game-riddle__title {
    font-weight: 500;
}

.game-choices {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.game-choices__choice {
    height: 75px;
    width: 75px;
}

.game-choices__choice.js-chosen:hover {
    border-color: blueviolet;
}

.game-choices__choice.js-chosen {
    border-color: greenyellow;
}

.game-choices__choice.js-chosen:after {
    content: "X";
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: 1000;
}

.game-advance {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* #endregion GAME AREA */